* {
	margin: 0;
	padding: 0;
	list-style: none;
}
html {
	padding: 10px;
	font-size: 20px;
}
h1 {
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.panel {
	box-sizing: border-box;
	height: 80px;
}
.panel button {
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	background: #f3fcf3;
	border: 1px solid #0c0;
	cursor: pointer;
}
#vessel {
	box-sizing: border-box;
	height: calc(100vh - 180px);
}
.calendar {
	width: 100%;
	text-align: center;
}
.calendar li {
	display: inline-block;
	box-sizing: border-box;
	padding: 2px;
	vertical-align: middle;
	height: 30px;
}
.calendar li span{
	display: block;
	box-sizing: border-box;
	height: 100%;
	font-size: 30px;
	background: #f3fcf3;
	border: 1px solid #0c0;
	padding: 10px;
}
.calendar li span.disabled{
	background: #f3f3f3;
	border-color: #ddd;
}